@model SGPI.Models.TblPago
@{
    ViewData["Title"] = "Programar asignatura";
    Layout = "NavbarEstudianteLayout";
}

<div class="bg-black" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">

    <div class="card card-login mx-auto text-center bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold"> Pago </span>
        </div>

        <div class="card-body">
            <form action="" method="post">
                @if (ViewBag.mensaje != null)
                {
                    <script>
                        Toastify({
                            text: "Pago Registrado",
                            duration: 3200,
                            destination: "",
                            newWindow: true,
                            close: false,
                            gravity: "top", // `top` or `bottom`
                            position: "center", // `left`, `center` or `right`
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)"
                            },
                            onClick: function () { } // Callback after click
                        }).showToast();
                    </script>
                }
                <div class="row border font-weight-bold">
                    <div class="col border">Valor Pago</div>
                    <div class="col border">Fecha de pago</div>
                    <div class="col border">Opciones</div>
                </div>
                <div class="row border">
                    <div class="col border"> 
                        <input asp-for="ValorPago" type="text" id="txtVPago" class="form-control" placeholder="Valor pago" required>
                    </div>
                    <div class="col border">
                        <input asp-for="Fecha" type="date" id="txtAsignatura" class="form-control" placeholder="Fecha pago" required>
                    </div>
                    
                    <div class="col border">
                        <div class="input-group-prepend form-group">
                            <span class="col input-group-text"><i class="fa fa-upload"></i></span>
                            <input name="archivo" type="file" class="form-control btn btn-secondary" value="Cargar" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <input type="submit" value="Actualizar" class="btn-success form-control" />
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </div>
</div>

