
@{
    ViewData["Title"] = "Programar asignatura";
    Layout = "NavbarEstudianteLayout";
}

<div class="bg-black" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">

    <div class="card card-login mx-auto text-center bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold"> Pago </span>
        </div>

        <div class="card-body">
            <form action="" method="post">
                <
                <div class="row border font-weight-bold">
                    <div class="col border">#</div>
                    <div class="col border">Valor Pago</div>
                    <div class="col border">Fecha de pago</div>
                    <div class="col border">Opciones</div>
                </div>
                <div class="row border">
                    <div class="col border">1</div>
                    <div class="col border">1.350.000</div>
                    <div class="col border">15/07/2022</div>
                    <div class="col border">Pago.pdf</div>
                </div>
                <div class="row border">
                    <div class="col">
                        <input type="number" id="txtNumber" class="form-control" placeholder="#">
                    </div>
                    <div class="col border"> 
                        <input type="text" id="txtVPago" class="form-control" placeholder="Valor pago">
                    </div>
                    <div class="col border">
                        <input type="date" id="txtAsignatura" class="form-control" placeholder="Fecha pago">
                    </div>
                    
                    <div class="col border">
                        <div class="input-group-prepend form-group">
                            <span class="col input-group-text"><i class="fa fa-upload"></i></span>
                            <input type="button" id="txtAsignatura" class="form-control btn btn-secondary" value="Cargar">
                        </div>
                    </div>
                </div>
                


            </form>
        </div>
    </div>
</div>

