
@{
    ViewData["Title"] = "Buscar";
    Layout = "NavbarCoordinadorLayout";
}

<div class="bg-black" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">

    <div class="card card-login mx-auto text-center bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold"> Buscar</span>
        </div>

        <div class="card-body">
            <form action="" method="post">
                <div class="row input-group form-group">
                    <div class="input-group-prepend">
                        <span class="col input-group-text"><i class="fa fa-hashtag"></i></span>
                    </div>
                    <input type="text" id="txtUsuario" class="form-control w-25" placeholder="Número de documento">
                    <div class="col input-group-prepend">
                        <span class="btn btn-outline-dark float-right search_btn"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row border font-weight-bold">
                    <div class="col border">Nombre</div>
                    <div class="col border">Primer Apellido</div>
                    <div class="col border">Segundo Apellido</div>
                    <div class="col border">Genero</div>
                    <div class="col border">Documento</div>
                    <div class="col border">Programa</div>
                    <div class="col border">Rol</div>
                    <div class="col border">Correo</div>
                </div>
                <div class="row border">
                    <div class="col border"> <br /></div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                </div>
                <div class="row border">
                    <div class="col border"> <br /></div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                </div>
                <div class="row border">
                    <div class="col border"> <br /></div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                    <div class="col border"> </div>
                </div>


            </form>
        </div>
    </div>
</div>

