
@{
    ViewData["Title"] = "Entrevistas";
    Layout = "NavbarCoordinadorLayout";
}

<div class="bg-black" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">

    <div class="card card-login mx-auto text-center bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold">Entrevistas</span>
        </div>

        <div class="card-body">
            <form action="" method="post">
                <div class="row input-group form-group">
                    <div class="input-group-prepend">
                        <span class="col input-group-text"><i class="fa fa-hashtag"></i></span>
                    </div>
                    <input type="text" id="txtUsuario" class="form-control w-25" placeholder="Número de documento">
                    <div class="col input-group-prepend">
                        <span class="btn btn-outline-dark float-right search_btn"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row">
                    <div class="col input-group form-group">
                        <input type="text" id="txtNombre" class="form-control w-25" placeholder="Nombre">
                    </div>
                    <div class="col input-group form-group">
                        <input type="text" id="txtApellidoA" class="form-control w-25" placeholder="Primer apellido">
                    </div>
                    <div class="col input-group form-group">
                        <input type="text" id="txtApellidoB" class="form-control w-25" placeholder="Segundo apellido">
                    </div>
                </div>

                <div class="row">
                    <div class="col input-group form-group">
                        <input type="text" id="txtProrama" class="form-control w-25" placeholder="Programa">
                    </div>
                    <div class="col input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        </div>
                        <input type="text" id="txtDocumento" class="form-control w-25" placeholder="Documento">
                    </div>
                </div>

               

                <div class="row">
                    <div class="col"> <br /></div>
                </div>



                <div class="row">
                    <div class="col"> </div>
                    

                    <div class="col">
                        <input type="button" value="Ingresar" class="btn btn-success form-control w-25" />
                    
                        <input type="button" value="Volver" class="btn btn-danger form-control w-25" />
                    </div>
                    <div class="col"> </div>
                </div>


            </form>
        </div>
    </div>
</div>