
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "NavbarAdministradorLayout";
}

<div class="" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">

    <div class="card card-login mx-auto text-center bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold"> Editar Usuario </span>
        </div>

        <div class="card-body">
            <form action="" method="post">

                <div class="row">
                    <div class="col input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                        </div>
                        <select class="form-control" name="select">
                            <option value="null" selected>Tipo de documento</option>
                            <option value="cedula">Cedula</option>
                            <option value="identidad">Tarjeta de identidad</option>
                            <option value="nit">NIT</option>
                            <option value="pasaporte">Pasaporte</option>
                        </select>
                    </div>
                    <div class="col input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        </div>
                        <input type="text" id="txtDocumento" class="form-control w-25" placeholder="Número de documento">
                    </div>
                    <div class="col input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-intersex" aria-hidden="true"></i></span>
                        </div>
                        <select name="genero" class="form-control">
                            <option value="null" selected>Genero</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col input-group form-group">
                        <input type="text" id="txtNombre" class="form-control w-25" placeholder="Nombre">
                    </div>
                    <div class="col input-group form-group">
                        <input type="text" id="txtApellidoA" class="form-control w-25" placeholder="Primer apellido">
                    </div>
                    <div class="col input-group form-group">
                        <input type="text" id="txtApellidoB" class="form-control w-25" placeholder="Segundo apellido">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col form-group">
                        <div class="input-group"><input type="email" id="txtEmail" class="form-control w-25" placeholder="Correo Electronico"> </div>
                    </div>
                    <div class="col form-group">
                        <select name="rol" class="form-control">
                            <option value="null" selected>Rol</option>
                            <option value="admin">Administrador</option>
                            <option value="coordinador">Coordinador</option>
                            <option value="estudiante">Estudiante</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="programa" class="form-control">
                            <option value="null" selected>Programa</option>
                            <option value="maestira">Maestría en gestión TI</option>
                            <option value="especializacion">Especialización SI</option>
                            <option value="medio ambiente">Maestria en medio ambiente</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <input type="button" value="Editar usuario" class="btn-success form-control" />
                    </div>
                    <div class="col"></div>
                </div>



            </form>
        </div>
    </div>
</div>

