@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "NavbarAdministradorLayout";
}

<div class="" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">

    <div class="card card-login mx-auto text-center bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="mt-5 font-weight-bold"> Editar Usuario </span>
        </div>

        <div class="card-body">
            <form action="" method="post">

                <div class="row">
                    <div class="col input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                        </div>
                        @Html.DropDownList("Iddoc",new SelectList(ViewBag.documento, "Iddoc", "TipoDocumento"), new { @class = "form-control" })
                    </div>
                    <div class="col input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                        </div>
                        <input asp-for="NumeroDocumento" type="text" id="txtDocumento" class="form-control w-25" placeholder="Número de documento">
                    </div>
                    <div class="col input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-intersex" aria-hidden="true"></i></span>
                        </div>
                        @Html.DropDownList("Idgenero",new SelectList(ViewBag.genero, "Idgenero", "Genero"), new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col input-group form-group">
                        <input asp-for="PrimerNombre" type="text" id="txtNombre" class="form-control w-25" placeholder="Primer Nombre" required>
                        <input asp-for="SegundoNombre" type="text" id="txtNombre" class="form-control w-25" placeholder="Segundo Nombre">
                    </div>
                    <div class="col input-group form-group">
                        <input asp-for="PrimerApellido" type="text" id="txtApellidoA" class="form-control w-25" placeholder="Primer apellido" required>
                    </div>
                    <div class="col input-group form-group">
                        <input asp-for="SegundoApellido" type="text" id="txtApellidoB" class="form-control w-25" placeholder="Segundo apellido" required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col form-group">
                        <div class="input-group"><input asp-for="Email" type="email" id="txtEmail" class="form-control w-25" placeholder="Correo Electronico" required> </div>
                    </div>
                    <div class="col form-group">
                        @Html.DropDownList("Idrol",new SelectList(ViewBag.rol, "Idrol", "Rol"), new { @class = "form-control" })
                    </div>
                    <div class="col">
                        @Html.DropDownList("Idprograma",new SelectList(ViewBag.programa, "Idprograma", "Programa"), new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="input-group"><input asp-for="Clave" type="password" id="txtPassword" class="form-control w-25" placeholder="Clave" required> </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">&nbsp; </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <input type="submit" value="Editar usuario" class="btn-success form-control" />
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </div>
</div>

