@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "_LayoutSGPI";
}

@if(ViewBag.mensaje != null){
<script>
    Toastify({
        text: "Usuario o clave incorretos",
        duration: 3200,
        destination: "",
        newWindow: true,
        close: false,
        gravity: "top", // `top` or `bottom`
        position: "center", // `left`, `center` or `right`
        stopOnFocus: true, // Prevents dismissing of toast on hover
        style: {
            background: "red"
        },
        onClick: function () { } // Callback after click
    }).showToast();
</script>
}


<div class="container" style="width:100%; padding-top:5%; padding-left:10%; padding-right:10%">

    <div class="card card-login mx-auto text-center bg-light">
        <div class="card-header mx-auto bg-light">
            <span class="font-weight-bold mt-5"> Login </span>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" id="txtDocumento" class="form-control" placeholder="Documento" asp-for="NumeroDocumento">
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" id="txtContrasena" class="form-control" placeholder="Contraseña" asp-for="Clave">
                </div>
                <div class="input-group form-group justify-content-center">
                    <input type="submit" class="btn btn-success float-right login_btn w-25" value="Ingresar">
                </div>
                <div class="form-group">
                    <a href="/Administrador/OlvidarContrasena" id="recuperarPassword">¿Olvidaste la contraseña?</a>

                </div>

            </form>
        </div>
    </div>
</div>